


<h1>Index view</h1>

@* <greet></greet> *@

<greet dev-name="Markonda" dev-location="Mumbai"></greet>


<a asp-action="Browse">Click here to browse</a>

<a asp-action="Index" asp-controller="Login">click here to login</a>

