@model LoginDTO

<form asp-action="Index">


    <p>
        <input asp-for="UserName" />
    </p>

    <p>
        <input asp-for="UserPassword" type="password"/>
    </p>

     <input type="submit" value="Login"/>

</form>